@media all {

  #movies-list {
    display: flex;
    flex-wrap: wrap;
  }

  #movies-list>app-movies-item {
    flex: calc(100% / 3);
  }

}

@media all and (max-width: 459px) {

  #movies-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #movies-list>app-movies-item {
    flex: 100%;
  }

}
